.form {
    &_field {
        width: 47%;
        flex-shrink: 1;
        border-radius: 4px;
        border:0;
        position: relative;
        &_ceil {
            width: 100%;
            color: #9CA8B7;
            font-size: 16px;
            padding: 21px 23px;
        }
    }
    &_error_message {
        position: absolute;
        color:red;
        top: 100%;
        left: 0%;
    }
}

.normal {
    border: 3px solid green;
}

.error {
    border: 3px solid red;
}


